# dlt resolves the following GCP credentials natively from gcloud cli or service account:
# - `client_email`
# - `private_key`
# - `project_id`

# Pulumi GCP provider resolves the following, which are set when using gcloud CLI or service account:
# - `GOOGLE_APPLICATION_CREDENTIALS`: Path to service account JSON key file
# - `GOOGLE_CREDENTIALS`: Actual JSON content of service account key
# - `GOOGLE_CLOUD_PROJECT`: GCP project ID

# Specify the deployment stack to use (will be used to create stack-specific resources like GCS buckets and BigQuery datasets):
PULUMI_STACK=prod


# dbt doesn't resolve GCP project/region from gcloud cli or service account
# so these must be set. Note that we are using the environment variable that is natively resolved by the Pulumi GCP provider
# in case the user has multiple projects.
GOOGLE_CLOUD_PROJECT=your-gcp-project-id

# Prefered GCP region for resources. Use lowercase to avoid issues with Pulumi provisioning.
# Available regions: https://docs.cloud.google.com/storage/docs/locations#location-r
GOOGLE_CLOUD_REGION=us-central1


# No configuration needed for Prefect. `prefect cloud login` will securely 
# authenticate and save your credentials to `~/.prefect/profiles.toml`.
# The Pulumi Prefect provider and the Prefect SDK automatically resolve 
# these credentials from the active profile.


# Webshare.io proxy url to avoid IP blocking when extracting data from Steam's APIs.
# Set "Authentication Method" to "Username/Password"
# Set "Connection Method" to "Rotating Proxy Endpoint"
# Set "Proxy Protocol" to "HTTP"
PROXY_URL="xxxxxxxx-rotate:PASSWORD1234@p.webshare.io:80"