# 1. Google Cloud Configuration
# dlt resolves `client_email`, `private_key`, and `project_id` from
# the gcloud credentials or service account

# Pulumi GCP provider checks for:
# - `GOOGLE_APPLICATION_CREDENTIALS`: Path to service account JSON key file
# - `GOOGLE_CREDENTIALS`: Actual JSON content of service account key
# - `GOOGLE_CLOUD_PROJECT`: GCP project ID
# - If authenticated with gcloud CLI, Pulumi will use those credentials automatically,
#   so no need to set these env vars if gcloud auth is done.


# dbt requires specifying the project ID
GOOGLE_PROJECT=your-gcp-project-id

# We specify a region, which is used for our GCS bucket and BigQuery dataset.
# Available regions: https://docs.cloud.google.com/storage/docs/locations#location-r
GCP_REGION=US-CENTRAL1

# No configuration needed for Prefect. `prefect cloud login` will securely 
# authenticate and save your credentials to `~/.prefect/profiles.toml`.
# The Pulumi Prefect provider and the Prefect SDK automatically resolve 
# these credentials from the active profile.


# 2. Proxy for data extraction (to avoid IP blocking)

# Provide PROXY_TOKEN if using Scrape.do (leave blank if using Webshare.io)
PROXY_TOKEN=your_scrape_do_token

# Provide PROXY_URL if using Webshare.io
PROXY_URL="xxxxxxxx-rotate:PASSWORD1234@p.webshare.io:80"