# 1. Google Cloud Configuration
# Pulumi, dlt, and dbt will all read this natively to know where to deploy/query
GOOGLE_PROJECT=my-cs2-analysis-project
# See all available regions here: https://docs.cloud.google.com/storage/docs/locations#location-r
GCP_REGION=US-CENTRAL1

# 2. Pulumi Authentication
PULUMI_ACCESS_TOKEN=pul-xxxxxxxxxxxxxxxx

# 3. Prefect Authentication
PREFECT_API_URL=https://api.prefect.cloud/api/accounts/.../workspaces/...
PREFECT_API_KEY=pnu_xxxxxxxxxxxxxxxx

# 4. Proxy for data extraction (to avoid IP blocking)

# Provide PROXY_TOKEN if using Scrape.do (leave blank if using Webshare.io)
PROXY_TOKEN=your_scrape_do_token

# Provide PROXY_URL if using Webshare.io
PROXY_URL="xxxxxxxx-rotate:PASSWORD1234@p.webshare.io:80"